<%= form_for(bidding) do |f| %>
  <% if bidding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bidding.errors.count, "error") %> prohibited this bidding from being saved:</h2>

      <ul>
      <% bidding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :provision_order %>
    <%= f.text_field :provision_order %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
